<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/waether.png">
    <link  rel="stylesheet" href="/css/styles.css" >
</head>
<body>
            {{>header}}
        <p>This side was created by Shashank Sahni.It used data from mapbox.com and weatherstack</p>
        <img class='portrait' src="/img/robot.png">
        <p>{{>footer}}</p>
</body>
</html>    